{
	"outputConfig" : {
		"outputName" : "manitou-all",
		"dotOutputFormat" : "pdf",
		"dotBinary" : "/usr/local/bin/dot",
		"includePrimaryKeys" : true,
		"includeForeignKeys" : true,
		"includeDataColumns" : true
	} ,
	
	"clusters":[ {
			"name" : "Manitou",
			"background" : "bisque3",
			"show" : true,
			"content" : ["addresses","attachment_contents","attachments","body","filter_action","filter_expr","header","identities","import_mbox","inverted_word_index","mail","mail_addresses","mail_tags","mailing_data","mailing_definition","mailing_run","notes","raw_mail","tags","tags_words","words"]
		} , {
			"name" : "Technique",
			"background" : "cyan3",
			"show" : true,
			"content" : ["users","user_queries","runtime_info","programs","non_indexable_words","mime_types","mail_template","mail_status","jobs_queue","import_message","global_notepad","forward_addresses","filter_log","files","config"]
		} 
	],

	"hidden":[
		{
			"tableName" : "foo",
			"columns": ["col1"]
		}
	]
}
